/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #141922;
}

.fluid-container {
    display: flex;
    height: calc(100vh - 90px);
}

li {
    list-style: none;
} 

a {
    text-decoration: none;
    color: currentColor;
}

/* UTILITIES */
.cta {
    display: inline-block;
    padding:15px 40px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.6rem;
    font-weight: 600;
    border: 1px solid currentColor;
    border-radius: 30px;
}


/* color */
.text-color {
    color: #77797e;
}

/* text */
.text-center {
    text-align: center;
}


/* APP LEFT SIDEBAR */
.left-side {
    width: 230px;
    padding: 20px 20px 0 20px;
    background-color: #000;
}

/* top sidebar */
.top-sidebar {
    height: calc(100% - 90px) ;
}
/* app header */

.header-app .brand img {
    height: 40px;
}
.header-app li {
    display: flex;
    align-items: center;

}
.header-app li img {
    width: 21px;
}
/* bottom sidebar */
.bottom-sidebar {
    height: 90px;
}

/* APP MAIN CONTENT */
.main-app {
    position: relative;
    flex-grow: 1;
    padding: 0 20px;
}

.upgrade-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding-right: 10px;
    text-align: right;
    line-height: 90px;
    background-color: rgba(8, 11, 18, 0.6);
}

.main-app .scrollable {
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
}

.main-nav {
    margin-top: 20px;
}
.main-nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
}

/* app content */
.albums-list {
    display: flex;
    flex-wrap: wrap;

}

.albums-list .album {
    width: calc(100% / 6);
    padding: 0 6px;
} 

.albums-list .album > .cover img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album .cover.circular {
    overflow: hidden;
    border-radius: 50%;
}

/* APP FOOTER */
footer.player {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #282828;
}

/* RESPONSIVE */
/* md 768px - 1199px */
@media screen and (max-width: 1199px) {
    /* MAIN CONTENT */
    .albums-list .album {
        width: calc(100% / 4);

    }

}


/* s 601px - 767px */
@media screen and (max-width: 767px) {
    /* MAIN CONTENT */
    .albums-list .album {
        width: calc(100% / 2);

    }

}