/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #141922;
}

.fluid-container {
    display: flex;
    height: calc(100vh - 90px);
}

li {
    list-style: none;
} 

a {
    text-decoration: none;
    color: currentColor;
}

/* UTILITIES */
.cta {
    display: inline-block;
    padding:15px 40px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    border: 1px solid currentColor;
    border-radius: 30px;
}

.flex-row-align-center-Y {
    display: flex;
    align-items: center;
}

.flex-row-align-center-X {
    display: flex;
    justify-content: center;
}

.padding-r-10 {
    padding-right: 10px;
}
.margin-r-10 {
    margin-right: 10px;
}
/* color */
.text-color {
    color: #77797e;
}

aside h4,
.header-app > div:nth-child(2) li:first-of-type > a {
    color: #fff;
}

/* text */
.subtext {
    font-weight: 500;
}
.text-center {
    text-align: center;
}

/* APP LEFT SIDEBAR */
.left-side {
    flex-basis: 230px;
    padding: 20px 20px 0 20px;
    flex-shrink: 0;
    background-color: #000;
}

/* top sidebar */
.top-sidebar {
    height: calc(100% - 90px) ;
}

.top-sidebar li {
    line-height: 3em
}

/* app header */
.header-app .brand {
    margin-bottom: 20px;
}

.header-app .brand img {
    height: 40px;
}

/* header icon */
.header-app li a svg {
    width: 24px;
    padding-right: 5px;
}
.header-app li a svg > path {
    fill: currentColor; 
}

/* personal playlist section */
.top-sidebar h4 {
    margin: 15px 0;
}

.personal-playlist > div:first-of-type i {
    font-size: 3.3em;
    padding-right: 5px;
}

/* bottom sidebar */
.bottom-sidebar {
    height: 90px;
}

.bottom-sidebar > .install-app {
    height: 40%;
}
.bottom-sidebar > .user {
    height: 60%;
}

.bottom-sidebar .install-app {
    border-bottom: 1px solid currentColor;
} 
.bottom-sidebar .install-app svg {
    height: 14px;
}
.bottom-sidebar .user svg {
    height: 30px;
}
.bottom-sidebar .user .bg-user {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: #808080;
    border-radius: 50%;
}

.bottom-sidebar .user-name {
    font-size: 1.1em;
    color: #fff;
}

/* APP MAIN CONTENT */
.main-app {
    position: relative;
    flex-grow: 1;
    padding: 0 20px;
}

.main-app h2 {
    margin-top: 27px;
    font-size: 2rem;
}

.upgrade-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 2;
    text-align: right;
    line-height: 90px;
    background-color: rgba(8, 11, 18, 0.6);
}

.main-app .scrollable {
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
}

.main-nav > ul {
    flex-wrap: wrap;
    text-transform: uppercase;
}

.main-nav > ul > li {
    margin-right: 22px;
    line-height: 50px;
}
.main-nav > ul > li:last-of-type {
    margin-right: 0px;
}



/* albums list */
.albums-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;

}

.albums-list .album {
    width: calc(100% / 6);
    margin-bottom: 9px;
    padding: 0 6px;
} 

.albums-list .album > .cover img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album h3 {
    margin-top: 20px;
    font-size: 1.1rem;
}
.album h3 + .subtext {
    margin-top: 12px;
}

.album .cover.circular {
    overflow: hidden;
    border-radius: 50%;
}

/* overlay  */
.albums-list .album > .cover {
    position: relative;
} 

.albums-list .album > .cover .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.albums-list .album > .cover .overlay .fa-play-circle {
    font-size: 4rem;
}
.albums-list .album > .cover:hover .overlay {
    display: flex;
}

/* APP FOOTER */
footer.player {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #282828;
}

/* RESPONSIVE */
/* md 768px - 1199px */
@media screen and (max-width: 1199px) {
    /* MAIN CONTENT */
    .albums-list .album {
        width: calc(100% / 4);

    }

}


/* s 601px - 767px */
@media screen and (max-width: 767px) {
    /* MAIN CONTENT */
    .albums-list .album {
        width: calc(100% / 2);

    }

}